* {
    margin: 0;
}

.header {
  display: flex;
  justify-content: end;
}

#logo {
  position:absolute;
  top:0;
  left: 1%;
  height: 80px;
}

#logo-text {
  position:absolute;
  top:0;
  left: 5%;
  color: #04D4C8;
  font-size: 40px;
  padding: 20px;
}

nav {
    background-color:#30284F;
    height: 80px;
    opacity: 0.9;
}


.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .horizontal-nav li {
    display: inline-block;
    min-width: 5em;
    margin: 0 2em;
  }

  .horizontal-nav a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color:white;
    padding: 0.5em 0;
  }

  .horizontal-nav a:hover {
    color: #04D4C8;
  }





#hero {
  background-image: url(images/design-assets/bgk-header.png);
  height: 550px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; 
}
.hero{
  color: white;
  width: 50%;
  margin:0 auto;
  text-align:center;
}
#hero h1 {
  margin-bottom:50px; 
  font-size:3rem;
}

hr{
  margin-bottom:50px;
  border: 1px solid #04D4C8;
  width: 50px;
  margin: 0 auto;
}

#hero p{
  margin-top:50px;
  margin-bottom: 50px;
  font-size:1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#our-story{
    margin-top: 70px;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#our-story-text {
  padding-left: 100px;
}

#our-story h2{
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}
#our-story p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 31px;
}

.blue-button{
    border: solid 1px rgba(0, 224, 208, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgba(0, 224, 208, 1);
    padding: 10px;
    background-color: white;
}



#watch{
    background-image: url("images/design-assets/bgk-middle.png");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#playtext{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
#playtext h2 {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: white;
}



#expertise{

}

#team{
  background-image: url("images/design-assets/bgk-header.png");
  height: 712px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
#top-team{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
}
#top-team h2{
  margin: 1rem;
}
#top-team p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hiring-button{
  border: solid 1px rgba(0, 224, 208, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgba(0, 224, 208, 1);
  padding: 10px;
  background-color: transparent;
  align-self: center;
  margin-top: 1.5rem;
}
#personals{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:row;
  color:white;
}
#personals div{
  border: solid rgba(255, 255, 255, 0.5) 1px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  padding: 1em 4em;
  margin: 0.5rem;

}
#personals div h2{
  padding: 1em 1em 0 1em;
  margin: 1rem;
}
#personals div p{
  padding: 5px 0 0 0;
  margin-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 0.5;
}
#bottom-team{
  height: 25%;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#bottom-team p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.whitebg{
  height:229px;
  width: 220px;
  background-color: white;
  margin: 0;
  padding: 10px;
  border: 10px solid red;
}
.hr-white{
  border: 1px solid white;
  opacity: 0.5;
  margin-top: 1rem;
}
#contact_client{

}

footer{

}