* {
    margin: 0;
}

.header {
  display: flex;
  justify-content: end;
}

#logo {
  position:absolute;
  top:0;
  left: 1%;
  height: 50px;
}

#logo-text {
  
}

nav {
    background-color:#2F284E;
    height: 80px;
    opacity: 0.9;
}


.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: roboto-black;
  }
  .horizontal-nav li {
    display: inline-block;
    min-width: 5em;
    margin: 0 2em;
  }
  .horizontal-nav a {
    text-decoration: none;
    display: block;
    font-family: Arial;
    font-size: 18px;
    position: relative;
    color:white;
    padding: 0.5em 0;
  }

  .horizontal-nav a:hover {
    color: #04D4C8;
  }





#hero {
  background-image: url(images/design-assets/bgk-header.png);
  height: 550px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; 
}
.hero{
  color: white;
  width: 30%;
  margin:0 auto;
  text-align:center;
}

#our-story{
    margin-top: 70px;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#our-story-text {
  padding-left: 100px;
}

#our-story h2{
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
}
#our-story p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 31px;
}

#our-story #blue-button{
    border: solid 1px rgba(0, 224, 208, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgba(0, 224, 208, 1);
    padding: 10px;
    background-color: white;
}

#watch{
    background-image: url("images/design-assets/bgk-middle.png");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat

}

#expertise{

}

#team{

}

#contact_client{

}

footer{

}